/* 重置 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
/* webkit引擎的浏览器取消默认样式(-webkit-appearance) */
input,textarea{-webkit-user-select:auto !important;user-select:auto !important;/*-webkit-appearance:none;*/}
:focus{outline:none;}
img{vertical-align:middle;border:0 none;}
a{text-decoration:none;color:inherit;}
section{display:block;margin:0 auto;}
header,footer{margin:0 auto;width:100%;}
em,i{font-style:normal;}
button,input{border:0 none;}
u,del{text-decoration:none;}
/* webkit引擎的浏览器取消默认样式 */
input[type="submit"],input[type="reset"],input[type="button"],input[type="password"],input[type="text"],button{-webkit-appearance:none;outline:none;}

.fixed:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.fixed { display: block; min-height: 1%; }
.clear { diplay: block!important; float: none!important; clear: both; overflow: hidden; width: auto!important; height: 0!important; margin: 0 auto!important; padding: 0!important; font-size: 0; line-height: 0; }
/*基于display:table-cell的自适应布局*/
.cell{display:table-cell; *display:inline-block; width:2000px; *width:auto;}
/*双栏自适应cell部分连续英文字符换行*/
.cell_bk{display:table; width:100%; table-layout:fixed; word-wrap:break-word;}
/*单行文字溢出虚点显示*/
.ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

html, a {-webkit-tap-highlight-color: transparent}
textarea.fixAndroidKeyboard:focus, input.fixAKeyboard:focus {-webkit-tap-highlight-color: rgba(255,255,255,0);-webkit-user-modify: read-write-plaintext-only}

.noscroll {position: absolute;width: 100%;height: 100%;overflow: hidden;}
.hidden {display: none;}

html, body {line-height: 1;width: 100%;font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;-webkit-text-size-adjust: none;  }
body { visibility: hidden; /* display:none;*/ background-color:#ffffff;}

@-webkit-keyframes fadeIn{0%{opacity:0}
50%{opacity:.5}
100%{opacity:1}
}

.jbox{-webkit-animation-name: fadeIn; /*动画名称*/
-webkit-animation-duration: .3s; /*动画持续时间*/
-webkit-animation-iteration-count: 1; /*动画次数*/
-webkit-animation-delay: 0s; /*延迟时间*/}

/* 默认 */
.dn{display:none;}.db{display:block;}.dib{display:inline-block;}.di{display:inline;}
.h14{height:14px;}.h16{height:16px;}.h18{height:18px;}.h20{height:20px;}.h22{height:22px;}.h24{height:24px;}
.lh14{line-height:14px;}.lh16{line-height:16px;}.lh18{line-height:18px;}.lh20{line-height:20px;}.lh22{line-height:22px;}.lh24{line-height:24px;}
.m0{margin:0;}.ml1{margin-left:1px;}.ml2{margin-left:2px;}.ml5{margin-left:5px;}.ml10{margin-left:10px;}.ml20{margin-left:20px;}.mr1{margin-right:1px;}.mr2{margin-right:2px;}.mr5{margin-right:5px;}.mr10{margin-right:10px;}.mr20{margin-right:20px;}.mt1{margin-top:1px;}.mt2{margin-top:2px;}.mt5{margin-top:5px;}.mt10{margin-top:10px;}.mt20{margin-top:20px;}.mb1{margin-bottom:1px;}.mb2{margin-bottom:2px;}.mb5{margin-bottom:5px;}.mb10{margin-bottom:10px;}.mb20{margin-bottom:20px;}.ml-1{margin-left:-1px;}.mt-1{margin-top:-1px;}
.p1{padding:1px;}.pl1{padding-left:1px;}.pt1{padding-top:1px;}.pr1{padding-right:1px;}.pb1{padding-bottom:1px;}.p2{padding:2px;}.pl2{padding-left:2px;}.pt2{padding-top:2px;}.pr2{padding-right:2px;}.pb2{padding-bottom:2px;}.pl5{padding-left:5px;}.p5{padding:5px;}.pt5{padding-top:5px;}.pr5{padding-right:5px;}.pb5{padding-bottom:5px;}.p10{padding:10px;}.pl10{padding-left:10px;}.pt10{padding-top:10px;}.pr10{padding-right:10px;}.pb10{padding-bottom:10px;}.p20{padding:20px;}.pl20{padding-left:20px;}.pt20{padding-top:20px;}.pr20{padding-right:20px;}.pb20{padding-bottom:20px;}
.g0{color:#000;}.g3{color:#333;}.g6{color:#666;}.g9{color:#999;}.wh{color:white;}
.f0{font-size:0;}.f10{font-size:10px;}.f12{font-size:12px;}.f13{font-size:13px;}.f14{font-size:14px;}.f16{font-size:16px;}.f20{font-size:20px;}.f24{font-size:24px;}
.fa{font-family:Arial;}.ft{font-family:Tahoma;}.fv{font-family:Verdana;}.fs{font-family:'宋体';}.fw{font-family:'微软雅黑';}
.n{font-weight:normal; font-style:normal;}.b{font-weight:bold;}.i{font-style:italic;}
.tc{text-align:center;}.tr{text-align:right;}.tl{text-align:left;}.tj{text-align:justify;}
.tdl{text-decoration:underline;}.tdn,.tdn:hover,a.tdl:hover{text-decoration:none;}
.lt0{letter-spacing:0;}lt1{letter-spacing:1px;}
.wrap{white-space:nowrap;}
.bk{word-wrap:break-word;}
.vm{vertical-align:middle;}.vtb{vertical-align:text-bottom;}.vb{vertical-align:bottom;}.vt{vertical-align:top;}.vn{vertical-align:-2px;}
.l{float:left;}.r{float:right;}
.cl{clear:both;}
.rel{position:relative;}.abs{position:absolute;}
.zx1{z-index:1;}.zx2{z-index:2;}
.poi{cursor:pointer;}.def{cursor:default;}
.ovh{overflow:hidden;}
.vh{visibility:hidden;}.vv{visibility:visible;}
.z{*zoom:1;}

/* 统一调用背景图 */

/* 统一清除浮动 */
.g_doc:after{display:block;visibility:hidden;clear:both;height:0;overflow:hidden;content:'.';}

/* 布局grid 头部、主体、主栏、侧栏、尾部 rgba(255,255,255,.7)*/
/** 顶部导航 **/
.nheader{position:fixed;top:0rem;z-index:99;height:44px;width:100%; float:left;max-width:100%; background: #ffffff }
.nindex_sousuo{ width:95%; height:30px; display:block; float:left; background: rgba(245,245,249,1); border-radius:6px; line-height:30px; font-size:12px; color:#a0a0a0; margin:6px 0 0 2.5%;}
.nindex_sousuo em{ background-image: url(../images/sousuo.png); background-repeat: no-repeat; background-size:100%; width:20px; height:20px; display:block; float:left; margin:6px 14px 0px 12px;}
/*.nindex_xiaoxi{background-image: url(../images/xiaoxi.png); background-repeat: no-repeat; background-size:.4rem; width:5.7%; height:.52rem; display:block; float:right;margin: .26rem 0 0 0;padding:0 2% 0 1.5%;}*/
.nheader_list{ position:relative;height:.8rem;width:100%; float:left;max-width: 100%; padding:.1rem 0; background:#ffffff; overflow:hidden;}
.nindex_fanhui{ background:url(../images/fanhui.png) no-repeat center center; background-size:.18rem; width:.55rem; height:.51rem; display:block; float:left; margin:.15rem 0 0 .1rem;}
.nheader_list .nindex_sousuo{ background-color:#eeeeee;}
.nindex_text{ width:5.4rem; margin:0 auto; text-align:center; font-size:.3rem; color:#434343;height:.8rem;line-height:.8rem;}
.nhr{width:100%; height:.2rem; background:#ecebf2; display:block; float:left;}
.nxhr{width:100%; height:1px; border-bottom:1px solid #eeeeee; display:block; float:left;}

/*中间框架*/
.nwrapper{
  width: 100%;
  position: relative;
 /* max-width: 640px;
  min-width: 320px;*/
  overflow: hidden;
  margin: 0 auto;
}
.nwrapper_list{background:#ecebf2;}
.main {
  padding: 20px 15px 0;
}



/*弹出框*/


/*列表模块*/

/*app下载模块*/


/*添加成功弹出框*/


/* 模块module 导航、登录、注册、各种列表、评论、搜索*/
.m_nav{}

/* 元件unit 按钮、输入框、loading、图标  */
.u_icon{display:inline-block;background-image:url(../images/u_icon.png);background-size:5rem 5rem}
.n01{ width:40%; height:auto; display:block; float:left;  margin:35% 30% 0; }
.n02{ width:40%; height:auto; display:block; float:left; margin:2% 30% 0; }
.ajax_noload{ width: 90%;background: rgba(0,0,0,.8);text-align: center;padding: 5%; font-size: .3rem;height:.2rem; line-height:.2rem;position: fixed;top: 1rem;left: 0; z-index: 9999;color: #ffffff;text-align: left;display:none;  }
.ajax_noload img{ width:.3rem; height:.3rem; display:block; float:left; margin:-.07rem .2rem 0 0;}
.ajax_noload span img{ width:.4rem; height:.4rem; display:block; float: right; margin:-.1rem 0 0 0;}
.sheng0{ background-image:url(../images/j00.png); background-repeat:no-repeat; background-size:.9rem;background-position: center center;}
.sheng{ background-image:url(../images/j02.png); background-repeat:no-repeat; background-size:.9rem;background-position: center center;}
.jiang { background-image:url(../images/j01.png);background-repeat:no-repeat; background-size:.9rem;background-position: center center;}
/* 功能function 固定样式*/
.f_fontsize{}
/* 皮肤skin 文字色、背景色（图）、边框色*/
.s_fc,a.s_fc:hover{color:#fff;}
