<!--顶部-->
<header class="header">
      <a href="javascript:;" class="back"></a>
      <h2>注册协议</h2>
</header>

<!--中间-->
<section class="login_main" style="margin-top: 10px;font-size: .24rem;line-height: .34rem;">
      {{{content}}}
</section>
<!--/中间-->