<!--顶部-->
	<header class="header">
        <h2>联盟商户积分兑换专区</h2>
	</header>

<!--中间-->
	<section class="login_main">
          <!--错误信息提示-->
          <div class="item item_tips">
              <div class="err_msg"></div>
          </div>
          <!--登录表单-->
              <div class="item item_username">
              	  <i class="icon_tel"></i>
                  <input class="txt_input txt_username" type="text" placeholder="请输入手机号码" autofocus>
                  <em class="icon_close"></em>
              </div>
               <div class="item item_password">
              	  <i class="icon_pwd"></i>
                  <input class="txt_input txt_password" type="password"  placeholder="请输入密码">
              </div>
               <div class="item item_btns">
                  <button class="btn_login btn_disabled" disabled="true">登录</button>
              </div>
    </section>
<!--/中间-->

<!--底部-->
<div class="footer">
  <a href="http://app.lehumall.com/html5/app/download.html">下载乐虎全球家APP，享更多优惠</a>
</div>
