

    <!--顶部-->
    <header class="header">
        <a href="javascript:;" class="back"></a>
        <h2>联盟商户积分兑换专区</h2>
        <a href="javascript:;" class="rightlink">兑换记录</a>
    </header>

    <!--中间-->
    <!--洗车券-->
    <div class="union_coupon">

    </div>

    <!--积分兑换-->
    <div class="union">
        <div class="union_integral">
            当前会员积分余额&nbsp;:&nbsp;<span class="union_integral_val">0积分</span>
        </div>
        <div class="union_card">
            <input type="text" placeholder="请输入乐享会员卡卡号查询积分" class="union_card_code"><span class="union_card_fc">确定</span>
        </div>
        <div class="union_ph">
            <input type="text" placeholder="短信验证码" class="union_ph_code"><button type="button" class="union_ph_mes">获取短信验证码</button>
        </div>
        <div class="union_mum">
            <span class="number_left">兑换数量&nbsp;:&nbsp;</span>
            <div class="number_btn">
                <span class="number_btn_jian">-</span><input type="text" class="number_btn_shumu" value="1"><span class="number_btn_jia">+</span>
            </div>
        </div>
        <button type="button" class="union_exchange" disabled="true">确定兑换</button>
    </div>
    <!--中间-->

<!--顶部-->
<div class="footer">
    <a href="http://app.lehumall.com/html5/app/download.html">下载乐虎全球家APP，享更多优惠</a>
</div>