<!--顶部-->
    <header class="header">
        <a href="javascript:;" class="back"></a>
        <h2>联盟商户积分兑换专区</h2>
    </header>
<!--中间-->
<!--洗车券-->
    <ul class="chants_coupon">
     </ul>
   <!--中间-->

<!--顶部-->
<div class="footer">
    <a href="http://app.lehumall.com/html5/app/download.html">下载乐虎全球家APP，享更多优惠</a>
</div>