<!--顶部-->
		<header class="header">
			<a href="javascript:;" class="back"></a>
			<h2>兑换记录</h2>
		</header>
		<!--中间-->
		<!--洗车券-->
		<ul class="historical_coupon">
    	</ul>
	 	<!--中间-->
	<!--顶部-->