<div class="message-floor" id="messageBox">
  <div class="messge-box">
    <div class="messge-box-icon"><i class="message-toast-icon {{cls}}"></i></div>
    <div class="messge-box-content">{{{message}}}</div>
  </div>
</div>