<div class="fix_go_top"></div>

<style type="text/css">
	.fix_go_top {
	    width: .78rem;
	    height: .78rem;
	    border-radius: .78rem;
	    border: 1px solid #b3b3b3;
	    display: none;
	    position: fixed;
	    z-index: 9;
	    cursor: pointer;
	    bottom: .5rem;
	    right: .2rem;
	    background: url(images/dingbu.png) no-repeat;
	    background-size: 100%;
	    z-index: 5;
	}
</style>