<div class="nheader_list">
    <div class="nindex_fanhui"></div>
    <div class="nindex_sousuo" unselectable="on" style="-moz-user-select:none;-webkit-user-select:none;" onselectstart="return false;"><em></em><b class="nkeyword">全球购，找到好口碑</b></div>
    <div class="list_style"></div>
</div>

<style type="text/css">
	.nheader_list{ position:relative;height:.8rem;width:100%; float:left;max-width: 100%; padding:.1rem 0; background:#ffffff; overflow:hidden;}
	.nindex_fanhui{ background:url(../images/fanhui.png) no-repeat center center; background-size:.18rem; width:.55rem; height:.51rem; display:block; float:left; margin:.15rem 0 0 .1rem;}
	.nheader_list .nindex_sousuo{ background-color:#eeeeee;}
	.nindex_text{ width:5.4rem; margin:0 auto; text-align:center; font-size:.3rem; color:#434343;height:.8rem;line-height:.8rem;}
</style>